body {
    margin: 0;
    font-family: 'Sometype Mono', -apple-system, BlinkMacSystemFont,
        'sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100vh;
}
